name: Auto Merge Labeled PRs
on:
  pull_request:
    types: [opened, reopened, ready_for_review, labeled, synchronize]

permissions:
  contents: write
  pull-requests: write
  checks: read
  statuses: read

jobs:
  merge:
    # Debe tener la etiqueta 'automerge' y no ser draft
    if: contains(github.event.pull_request.labels.*.name, 'automerge') && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Esperar a que pasen checks requeridos
        uses: lewagon/wait-on-check-action@v1.3.3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          wait-interval: 10
          allowed-conclusions: success,skipped,neutral
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Hacer merge (squash)
        uses: peter-evans/merge-pull-request@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
          commit-message: pull-request-title
