name: Auto Merge Labeled PRs
on:
  pull_request:
    types: [labeled, synchronize]
permissions:
  pull-requests: write
jobs:
  enable-automerge:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          merge-method: squash
